	
		
	.subunit{
		fill : blue;
	}


	.subunit-boundary{ 
		fill: none;
		stroke: black;
	}
 	.subunit.JPX,.subunit.JPK,.subunit.JPO,.subunit.JPB,.subunit.JPH,.subunit.JPY,.subunit.JPA,.subunit.JPC,.subunit.JPD,
 	.subunit.JPE,.subunit.JPF,.subunit.JPG,.subunit.JPI,.subunit.JPS,.subunit.JPJ,.subunit.JPK,.subunit.JPL,.subunit.JPM,
 	.subunit.JPN,.subunit.JPO,.subunit.JPP,.subunit.JPQ,.subunit.JPR,.subunit.JPS,.subunit.JPT,.subunit.JPU,.subunit.JPV,
 	.subunit.JPW,.subunit.JPZ {
 		fill:red;
 	}
 	.subunit.PRK {
 		fill:red;
	 }
	#Alaska, #USA, #Japan, #Iran,#SaudiArabia,#Iraq,#Yemen,#Libya,#China,#Pakistan,#Afghanistan,#India,#Egypt,#Oman,#Qatar,#Kuwait,
	#UAE,#Jordan,#Syria,#Belarus,#Indonesia,#Somalia,#Sudan,#Nigeria,#Ethiopia,#Singapore,#Taiwan,#Botswana,#Chad,#Bahrain,
	#UnitedArabEmirates,#Bangladesh,#DemRepCongo,#Guinea,#Malaysia, #Morocco, #WestBank, #Gaza, #Thailand,#DemRepKorea	{ 
		fill: red; 
	}
